<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/frontend/images/icono-web.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/frontend/styles/styles.css">
    <script src="/frontend/scripts/index.js" defer ></script>
    <title>Lecciones</title>
    <script>
        if (localStorage.getItem('dark-mode') === 'enabled') {
          document.body.classList.add('dark-mode');
        }
        document.addEventListener('DOMContentLoaded', () => {
        const leccion13Completada = localStorage.getItem('leccion13_completada') === 'true';
        if (leccion13Completada) {
            const divLeccionFinal = document.querySelector('.lecciones.final.leccionFinal');
            if (divLeccionFinal) {
                divLeccionFinal.classList.add('leccion-completada');
            }
        }
    });

      </script>
</head>
<body class="bodyLecciones">

   <%- include('partials/header') %>

    <% if(user){ %>
        <div class="informacionUsuario">
            <h1 class="tituloLecciones">Bienvenido/a:
                <br>
                <span><%= user.name %></span>
            </h1>
            <h2>Lecciones completadas: <%= leccionesCompletadas.length %>/13</h2>
        </div>
    <% }else{ %>
        <h1 class="tituloLecciones">Nuestras Lecciones</h1>
    <% } %>
    <div class="contenedorLecciones">
        <div class="lecciones leccion1 <%= leccionesCompletadas.includes(1) ? 'leccion-completada' : '' %>">
            <a href="/leccion/1">
                <img src="/frontend/images/lista_lecciones_img/abecedario_portada.png" alt="">
                <h3>Abecedario</h3>
            </a>
        </div>
        <div class="lecciones leccion2 <%= leccionesCompletadas.includes(2) ? 'leccion-completada' : '' %>">
            <a href="/leccion/2">
                <img src="/frontend/images/lista_lecciones_img/numeros_portada.png" alt="">
                <h3>Números del 1 al 20</h3>
            </a>
        </div>
        <div class="lecciones leccion3 <%= leccionesCompletadas.includes(3) ? 'leccion-completada' : '' %>">
            <a href="/leccion/3">
                <img src="/frontend/images/lista_lecciones_img/saludos_portada.png" alt="">
                <h3>Saludos</h3>
            </a>
        </div>
        <div class="lecciones leccion4 <%= leccionesCompletadas.includes(4) ? 'leccion-completada' : '' %>">
            <a href="/leccion/4">
                <img src="/frontend/images/lista_lecciones_img/dias_semana_portada.png" alt="">
                <h3>Días de la Semana</h3>
            </a>
        </div>
        <div class="lecciones leccion5 <%= leccionesCompletadas.includes(5) ? 'leccion-completada' : '' %>">
            <a href="/leccion/5">
                <img src="/frontend/images/lista_lecciones_img/meses_del_ano_portada.png" alt="">
                <h3>Meses del Año</h3>
            </a>
        </div>
        <div class="lecciones leccion6 <%= leccionesCompletadas.includes(6) ? 'leccion-completada' : '' %>">
            <a href="/leccion/6">
                <img src="/frontend/images/lista_lecciones_img/retroalimentacion_portada.png" class="retroalimentacion" alt="">
                <h3>Retroalimentación</h3>
            </a>
        </div>
        <div class="lecciones leccion7 <%= leccionesCompletadas.includes(7) ? 'leccion-completada' : '' %>">
            <a href="/leccion/7">
                <img src="/frontend/images/lista_lecciones_img/colores_portada.png" alt="">
                <h3>Colores</h3>
            </a>
        </div>
        <div class="lecciones leccion8 <%= leccionesCompletadas.includes(8) ? 'leccion-completada' : '' %>">
            <a href="/leccion/8">
                <img src="/frontend/images/lista_lecciones_img/familia_portada.png" alt="">
                <h3>Familia</h3>
            </a>
        </div>
        <div class="lecciones leccion9 <%= leccionesCompletadas.includes(9) ? 'leccion-completada' : '' %>">
            <a href="/leccion/9">
                <img src="/frontend/images/lista_lecciones_img/partes_cuerpo_portada.png" alt="">
                <h3>Partes del Cuerpo</h3>
            </a>
        </div>
        <div class="lecciones leccion10 <%= leccionesCompletadas.includes(10) ? 'leccion-completada' : '' %>">
            <a href="/leccion/10">
                <img src="/frontend/images/lista_lecciones_img/profesiones_portada.png" alt="">
                <h3>Profesiones</h3>
            </a>
        </div>
        <div class="lecciones leccion11 <%= leccionesCompletadas.includes(11) ? 'leccion-completada' : '' %>">
            <a href="/leccion/11">
                <img src="/frontend/images/lista_lecciones_img/partes_casa_portada.png" alt="">
                <h3>Partes de la Casa</h3>
            </a>
        </div>
        <div class="lecciones leccion12 <%= leccionesCompletadas.includes(12) ? 'leccion-completada' : '' %>">
            <a href="/leccion/12">
                <img src="/frontend/images/lista_lecciones_img/retroalimentacion_portada.png" alt="">
                <h3>Retroalimentación</h3>
            </a>
        </div>
        <div class="lecciones final leccionFinal <%= leccionesCompletadas.includes(13) ? 'leccion-completada' : '' %>">
            <a href="/leccion/13">
                <img src="/frontend/images/lista_lecciones_img/examen_final_portada.png" alt="">
                <h3>Examen Final</h3>
            </a>
        </div>

        <div class="lecciones final leccionFinal">
            <a href="curso_completado">
                <img src="/frontend/images/lista_lecciones_img/examen_final_portada.png" alt="">
                <h3>Completar todo el curso :O</h3>
            </a>
        </div>
    </div>

</body>

<footer>
    <div class="derechos">
        <p>2024 All rights reserved</p>
    </div>
</footer>
</html>