<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/frontend/images/icono-web.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/frontend/styles/styles.css">
    <link rel="stylesheet" href="/frontend/styles/reporte.css">
    <script src="/frontend/scripts/index.js" defer ></script>
    <title>Reporte</title>
    <script>
        if (localStorage.getItem('dark-mode') === 'enabled') {
          document.body.classList.add('dark-mode');
        }
      </script>
</head>
<body class="bodyLecciones">

   <%- include('partials/header') %>

    <% if(user){ %>
        <div class="informacionUsuario">
            <h1 class="tituloLecciones">Reporte de lecciones para:
                <br>
                <span><%= user.name %></span>
            </h1>
            <p>Aquí puedes ver un resumen detallado de tu avance en el aprendizaje del lenguaje de señas. Nuestros reportes están diseñados para ayudarte a visualizar tu progreso en cada lección.</p>

            <h2>Lecciones completadas: <%= leccionesCompletadas.length %>/13</h2>
        </div>
    <% }else{ %>
        <h1 class="tituloLecciones">Reporte</h1>
    <% } %>
    
    
    <div class="contenedorLeccionesReporte">
        <% reportes.forEach(reporte => { %>
            <div class="leccionesReporte leccion<%= reporte.leccionId %>">
                <div class="titulosReporte">
                    <h3>Lección <%= reporte.leccionId %></h3>
                <h3><%= reporte.tituloLeccion %></h3> <!-- El título ya viene de la consulta -->
                </div>
                
                <ul>
                    <li><p><span class="subtituloReporte" >Lección repetida:</span> <%= reporte.repitio ? 'Sí' : 'No' %></p></li>
                    <li><p> <span class="subtituloReporte">Intentos:</span> <%= reporte.intentos %></p></li>
                    <li><p><span class="subtituloReporte">Tiempo:</span> <%= reporte.tiempo %> segundos</p></li>
                    <li><p><span class="subtituloReporte">Última fecha:</span> 
                        <span class="fecha-formateada">
                            <%= new Date(reporte.ultimoIntento).toLocaleString('es-MX', {
                                weekday: 'long',  // Día de la semana
                                year: 'numeric',  // Año
                                month: 'long',     // Mes en formato largo
                                day: 'numeric',    // Día
                                hour: 'numeric',   // Hora
                                minute: 'numeric', // Minutos
                                hour12: false,
                                timeZone: 'America/Asuncion' // Especificar zona horaria
                            }) %>
                        </span>
                    </p></li>
                </ul>
            </div>
        <% }) %>
    </div>
    
</body>

<footer>
    <div class="derechos">
        <p>2024 All rights reserved</p>
    </div>
</footer>
</html>
