<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/frontend/images/icono-web.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/frontend/styles/styles.css">
    <link rel="stylesheet" href="/frontend/styles/reporte.css">
    <script src="/frontend/scripts/index.js" defer ></script>
    <title>Panel de Profesor</title>
    <script>
        if (localStorage.getItem('dark-mode') === 'enabled') {
          document.body.classList.add('dark-mode');
        }
      </script>
</head>
<body class="bodyLecciones">

   <%- include('partials/header') %>

    <% if(user){ %>
        <div class="informacionUsuario">
            <h1 class="tituloLecciones">Bienvenido, Prof. :
                <br>
                <span><%= user.name %></span>
            </h1>
            <p>Aquí puedes ver un resumen detallado de tu avance en el aprendizaje del lenguaje de señas. Nuestros reportes están diseñados para ayudarte a visualizar tu progreso en cada lección.</p>

            <h2>Cantidad de alumnos: <%=cantidadAlumnos%></h2>
        </div>
    <% } %>
    

    <div class="contenedorLeccionesReporte">
        <% if (alumnos && alumnos.length > 0) { %>
            <% alumnos.forEach(alumno => { %>
                <div class="leccionesReporteProfesor">
                    <div class="titulosReporte">
                        <h3>Alumno:<p><%= alumno.nombre %></p></h3>
                        <h4>ID: <p style="margin: 0;"><%= alumno.id %></p></h4>
                    </div>
                    <ul>
                        <li>
                            <p><span class="subtituloReporte">Lecciones completadas:</span><%= alumno.lecciones %>/13</p>
                        </li>
                    </ul>
                </div>
            <% }) %>
            
        <% } else { %>
            <p>No hay alumnos disponibles.</p>
        <% } %>
    </div>    
</body>

<footer>
    <div class="derechos">
        <p>2024 All rights reserved</p>
    </div>
</footer>
</html>
