<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/frontend/images/icono-web.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/frontend/styles/styles.css">
    <link rel="stylesheet" href="/frontend/styles/lecciones.css">
    <link rel="stylesheet" href="/frontend/styles/cajas.css">
    <link rel="stylesheet" href="/frontend/styles/ahorcado.css">
    <script src="/frontend/scripts/index.js" defer></script>
    <script src="/frontend/scripts/ahorcado.js" defer></script>
    <script src="/frontend/scripts/cajas.js" defer></script>
    <script src="/frontend/scripts/test.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <title>Partes de la Casa</title>
    <script>
        if (localStorage.getItem('dark-mode') === 'enabled') {
          document.body.classList.add('dark-mode');
        }
        let leccionesCompletadas = <%= JSON.stringify(leccionesCompletadas) %>;
      </script>
</head>
<body>
    
    <%- include('../partials/header') %>

    <h1 class="tituloLeccion">Partes de la Casa</h1>
    <div class="contenedorLeccion">
        <h2 class="subTitulo">Introducción</h2>
        <p>¡Bienvenido a la lección sobre las partes de la casa! En esta sección, aprenderás los signos para nombrar las diferentes áreas y espacios de un hogar, como la cocina, el dormitorio, el baño y la sala. Este vocabulario te ayudará a describir tu entorno y a comunicarte sobre temas relacionados con el hogar.</p>
        <br>
        <br>
        <h2 class="subTitulo">¡Comencemos!</h2>
        <p>Te presentamos un vídeo en el que podrás ver las partes del casa, y sus correspondientes signos en lenguaje de señas. Míralo las veces que sean necesarias.:</p>
        <div class="contenedorVideo">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xIw7WeY6Q3M?si=xSQGgtdkL1k9yjze" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        
        <h2 class="guiaVisual">Guía Visual de las partes de la casa</h2>
        <p class="guiaVisualp">Esta sección te ayudará a aprender mejor cada parte de la casa en lenguaje de señas de manera especifica. Familiarizate con cada gesto</p>
    
    <div class="media-contenedor">
        <h3><%= leccionData[0].letra %></h3>
        <div class="contenedorFlechasImagenes">
            <button id="prev" disabled><i class="bi bi-arrow-left flecha"></i></button>
        <div class="media-imagen">
            <img id="media-image" src="<%= leccionData[0].imagenUrl %>" alt="Imagen de <%= leccionData[0].letra %>">
        </div>
        <div class="media-video">
            <video id="media-video" title="Video de <%= leccionData[0].letra %>" controls>
                <source src="<%= leccionData[0].videoUrl %>" type="video/mp4">
                Tu navegador no soporta el elemento de video.
            </video>            
        </div>
        <button id="next"><i class="bi bi-arrow-right flecha"></i></button>
        </div>
        <p> <%= leccionData[0].descripcion %></p>
    </div>

    <!--JUEGO AHORCADO-->
    <h2 class="subTitulo">Juego Interactivo "Ahorcado"</h2>
    <p>Para el sigueinte juego tendrás que adivinar las letras que forman una palabra relacionada con las partes de la casa. Cada vez que falles al elegir una letra incorrecta, se dibujará una parte del ahorcado.</p>
<div id="contenedor-juego-ahorcado">
    <img id="imagen-ahorcado" alt="Ahorcado" src="/frontend/images/dias_semana/ahorcado1.png"/>
    <img id="imagen-seña-ahorcado" alt="Imagen de seña" src="" />
    <p id="palabra-mostrada-ahorcado">_ _ _ _ _</p>
    <div id="teclado-ahorcado">
            <button data-letra="A"></button>
            <button data-letra="B"></button>
            <button data-letra="C"></button>
            <button data-letra="D"></button>
            <button data-letra="E"></button>
            <button data-letra="F"></button>
            <button data-letra="G"></button>
            <button data-letra="H"></button>
            <button data-letra="I"></button>
            <button data-letra="J"></button>
            <button data-letra="K"></button>
            <button data-letra="L"></button>
            <button data-letra="M"></button>
            <button data-letra="N"></button>
            <button data-letra="Ñ"></button>
            <button data-letra="O"></button>
            <button data-letra="P"></button>
            <button data-letra="Q"></button>
            <button data-letra="R"></button>
            <button data-letra="S"></button>
            <button data-letra="T"></button>
            <button data-letra="U"></button>
            <button data-letra="V"></button>
            <button data-letra="X"></button>
            <button data-letra="Y"></button>
            <button data-letra="Z"></button>
    </div>
    <p>Intentos restantes: <span id="intentos-restantes-ahorcado">6</span></p>
      <!-- Mensaje dinámico de fin de nivel o de juego -->
  <div id="mensaje-ahorcado" style="display: none;">
    <p id="texto-mensaje-ahorcado"></p>
    <button id="boton-siguiente-nivel" style="display: none;">Siguiente Nivel</button>
    <button id="boton-reintentar" style="display: none;">Reintentar</button>
</div>
<p id="mensaje-victoria" style="display: none;">¡Felicidades, has completado todos los niveles!</p>
<button id="reiniciarJuegoAhorcado" style="display: none;">Reiniciar Juego</button>

  </div>

  <!-- Definición de datos de la lección en data-attributes -->
  <div id="datos-leccion-ahorcado" style="display: none;">
    <div data-palabra="SALA" data-imagen-seña="/frontend/images/partes_casa/Sala.png"></div>
    <div data-palabra="COCINA" data-imagen-seña="/frontend/images/partes_casa/Cocina.png"></div>
    <div data-palabra="BAÑO" data-imagen-seña="/frontend/images/partes_casa/Bano.png"></div>
    <div data-palabra="DORMITORIO" data-imagen-seña="/frontend/images/partes_casa/Dormitorio.png"></div>
    <div data-palabra="PATIO" data-imagen-seña="/frontend/images/partes_casa/Patio.png"></div>
  </div>

  <!--JUEGO DE CAJAS-->
  <h2 class="subTitulo">Juego Interactivo "Abre las cajas"</h2>
    <p>Para el siguiente juego deberás de abrir cada caja y seleccionar a que parte de la casa corresponde el signo contenido.</p>
<div id="contenedor-juego-cajas">
    <!-- Caja cerrada inicialmente -->
    <img id="caja-cerrada-cajas" src="/frontend/images/meses_ano/caja1.png" alt="Caja cerrada">
    <img id="caja-abierta-cajas" src="/frontend/images/meses_ano/caja2.png" alt="Caja abierta" style="display: none;">
    
    <!-- Contenedores de los meses en lenguaje de señas -->
    <div id="meses-cajas">
        <!-- Contenedor para Enero -->
        <div class="mes-caja" data-mes="Baño">
            <img src="/frontend/images/partes_casa/Bano.png" alt="Baño en lengua de señas">
            <div class="opciones-cajas">
                <button class="opcion-cajas">Sala</button>
                <button class="opcion-cajas">Baño</button>
                <button class="opcion-cajas">Dormitorio</button>
            </div>
        </div>

        <div class="mes-caja" data-mes="Dormitorio">
            <img src="/frontend/images/partes_casa/Dormitorio.png" alt="Baño en lengua de señas">
            <div class="opciones-cajas">
                <button class="opcion-cajas">Sala</button>
                <button class="opcion-cajas">Baño</button>
                <button class="opcion-cajas">Dormitorio</button>
            </div>
        </div>

        <div class="mes-caja" data-mes="Sala">
            <img src="/frontend/images/partes_casa/Sala.png" alt="Sala en lengua de señas">
            <div class="opciones-cajas">
                <button class="opcion-cajas">Patio</button>
                <button class="opcion-cajas">Cocina</button>
                <button class="opcion-cajas">Sala</button>
            </div>
        </div>

        <div class="mes-caja" data-mes="Cocina">
            <img src="/frontend/images/partes_casa/Cocina.png" alt="Baño en lengua de señas">
            <div class="opciones-cajas">
                <button class="opcion-cajas">Baño</button>
                <button class="opcion-cajas">Cocina</button>
                <button class="opcion-cajas">Dormitorio</button>
            </div>
        </div>

        <div class="mes-caja" data-mes="Patio">
            <img src="/frontend/images/partes_casa/Patio-colegio.png" alt="Baño en lengua de señas">
            <div class="opciones-cajas">
                <button class="opcion-cajas">Patio</button>
                <button class="opcion-cajas">Sala</button>
                <button class="opcion-cajas">Dormitorio</button>
            </div>
        </div>
        
        
</div>

    <!-- Mensaje de acierto o error -->
    <p id="mensaje-cajas"></p>
</div>
  <%- include('../partials/tesT') %>
  <script>
    const leccionData = <%- JSON.stringify(leccionData) %>;
</script>
</body>
</html>