<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/frontend/images/icono-web.svg">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/frontend/styles/styles.css">
        <link rel="stylesheet" href="/frontend/styles/lecciones.css">
        <link rel="stylesheet" href="/frontend/styles/tarjetasMemoria.css">
        <script src="/frontend/scripts/index.js" defer ></script>
        <script src="/frontend/scripts/tarjetasMemoria.js"defer></script>
        <script src="/frontend/scripts/test.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <title>Abecedario</title>
    <script>
        if (localStorage.getItem('dark-mode') === 'enabled') {
          document.body.classList.add('dark-mode');
        }
      </script>
</head>
<body>
    <%- include('../partials/header') %>
    
    <h1 class="tituloLeccion">El Abecedario</h1>
    
    <div class="contenedorLeccion">
        <h2 class="subTitulo">Introducción</h2>
        <p>En esta lección aprenderás el abecedario dactilológico. Este alfabeto se compone de gestos específicos que se hacen con las manos para representar cada letra. Su uso principal es el de representar nombres propios, palabras o frases que no tienen un gesto específico en el lenguaje de señas. 
        <br>
        <br>
        Dominarlo es uno de los primeros pasos para comunicarte de manera efectiva, ya que te permitirá deletrear palabras y nombres. A través de videos interactivos y pequeños juegos, practicarás cada letra hasta sentirte cómodo con cada movimiento.</p>
        
        <h2 class="subTitulo">¡Comencemos!</h2>
        
        <p>Primero, ve el siguiente vídeo donde se muestra el abecedario completo:</p>
        
        <div class="contenedorVideo">
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/g1Yxx1PzSjg?si=ibOGDYy8zv0jKyZz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        

            <h2 class="guiaVisual">Guía Visual del Abecedario</h2>
            <p class="guiaVisualp">Esta sección te ayudará a aprender mejor cada letra del abecedario individualmente. Familiarizate con cada gesto</p>
        
        <div class="media-contenedor">
            <h3>Letra <%= leccionData[0].letra %></h3>
            <div class="contenedorFlechasImagenes">
                <button id="prev" disabled><i class="bi bi-arrow-left flecha"></i></button>
            <div class="media-imagen">
                <img id="media-image" src="<%= leccionData[0].imagenUrl %>" alt="Imagen de <%= leccionData[0].letra %>">
            </div>
            <div class="media-video">
                <video id="media-video" title="Video de <%= leccionData[0].letra %>" controls>
                    <source src="<%= leccionData[0].videoUrl %>" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>                
            </div>
            <button id="next"><i class="bi bi-arrow-right flecha"></i></button>
            </div>
            <p> <%= leccionData[0].descripcion %></p>
    </div>
        
        <!--JUEGO-->
        <h2 class="subTitulo">Juego Interactivo "Tarjetas de Memoria"</h2>
        <p>¡Aprende jugando! En este juego tendrás que recordar a que letra del abecedario dactilológico corresponde cada signo indicado.</p>
        <div class="contenedor">
            <!-- Fila de señas -->
            <div class="fila-senas nivel-1">
                <div class="tarjeta tarjeta-senas" data-pareja="A">
                    <div class="cara delante">
                        <img src="/frontend/images/abecedario/imagenes-media/A-transformed.png" alt="Seña A">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="B">
                    <div class="cara delante">
                        <img src="/frontend/images/abecedario/imagenes-media/B-transformed.png" alt="Seña B">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="C">
                    <div class="cara delante">
                        <img src="/frontend/images/abecedario/imagenes-media/C-transformed.png" alt="Seña C">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
            </div>
        
            <!-- Fila de letras -->
            <div class="fila-letras nivel-1">
                <div class="tarjeta" data-pareja="A">
                    <div class="cara delante">
                        <p>A</p>
                    </div>
                    <div class="cara atras">
                    </div>
                </div>
                <div class="tarjeta" data-pareja="B">
                    <div class="cara delante">
                        <p>B</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="C">
                    <div class="cara delante">
                        <p>C</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
            </div>

            <!-- Fila de señas - Nivel 2 -->
            <div class="fila-senas nivel-2" style="display: none;">
                <div class="tarjeta tarjeta-senas" data-pareja="M">
                    <div class="cara delante">
                        <img src="/frontend/images/abecedario/imagenes-media/M-transformed.png" alt="Seña M">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Z">
                    <div class="cara delante">
                        <img src="/frontend/images/abecedario/imagenes-media/Z-transformed.png" alt="Seña Z">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="D">
                    <div class="cara delante">
                        <img src="/frontend/images/abecedario/imagenes-media/D-transformed.png" alt="Seña D">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                    
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Y">
                    <div class="cara delante">
                        <img src="/frontend/images/abecedario/imagenes-media/Y-transformed.png" alt="Seña Y">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
            </div>
            
            <!-- Fila de letras -->
            <div class="fila-letras nivel-2" style="display: none;">
                <div class="tarjeta" data-pareja="M">
                    <div class="cara delante">
                        <p>M</p>
                    </div>
                    <div class="cara atras">
                    </div>
                </div>
                <div class="tarjeta" data-pareja="Z">
                    <div class="cara delante">
                        <p>Z</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="D">
                    <div class="cara delante">
                        <p>D</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="Y">
                    <div class="cara delante">
                        <p>Y</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
            </div>
            
            <!-- Fila de señas - Nivel 3 -->
            <div class="fila-senas nivel-3" style="display: none;">
                <div class="tarjeta tarjeta-senas" data-pareja="B">
                    <div class="cara delante">
                        <img src="/frontend/images/abecedario/imagenes-media/B-transformed.png" alt="Seña B">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="X">
                    <div class="cara delante">
                        <img src="/frontend/images/abecedario/imagenes-media/X-transformed.png" alt="Seña X">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="M">
                    <div class="cara delante">
                        <img src="/frontend/images/abecedario/imagenes-media/M-transformed.png" alt="Seña M">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                    
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="N">
                    <div class="cara delante">
                        <img src="/frontend/images/abecedario/imagenes-media/N-transformed.png" alt="Seña N">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="A">
                    <div class="cara delante">
                        <img src="/frontend/images/abecedario/imagenes-media/A-transformed.png" alt="Seña A">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
            </div>
            
            <!-- Fila de letras -->
            <div class="fila-letras nivel-3" style="display: none;">
                <div class="tarjeta" data-pareja="B">
                    <div class="cara delante">
                        <p>B</p>
                    </div>
                    <div class="cara atras">
                    </div>
                </div>
                <div class="tarjeta" data-pareja="X">
                    <div class="cara delante">
                        <p>X</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="M">
                    <div class="cara delante">
                        <p>M</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="N">
                    <div class="cara delante">
                        <p>N</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="A">
                    <div class="cara delante">
                        <p>A</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
            </div>
    <p id="resultado"></p>
    <button id="nivelSiguiente">Siguiente nivel</button>
    
</div>

<%- include('../partials/tesT') %>

<script>
    const leccionData = <%- JSON.stringify(leccionData) %>; // Pasa el array de letras como JSON
</script>
</body>

</html>