<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/frontend/images/icono-web.svg">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/frontend/styles/styles.css">
        <link rel="stylesheet" href="/frontend/styles/lecciones.css">
        <link rel="stylesheet" href="/frontend/styles/tarjetasMemoria.css">
        <link rel="stylesheet" href="/frontend/styles/parejas.css">
        <script src="/frontend/scripts/index.js" defer ></script>
        <script src="/frontend/scripts/tarjetasMemoria.js"defer></script>
        <script src="/frontend/scripts/unirParejas.js" defer></script>
        <script src="/frontend/scripts/test.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <title>Profesiones</title>
    <script>
        if (localStorage.getItem('dark-mode') === 'enabled') {
          document.body.classList.add('dark-mode');
        }
        let leccionesCompletadas = <%= JSON.stringify(leccionesCompletadas) %>;
      </script>
</head>
<body>
    <%- include('../partials/header') %>
    
    <h1 class="tituloLeccion">Profesiones</h1>
    
    <div class="contenedorLeccion">
        <h2 class="subTitulo">Introducción</h2>
       <p>¡Bienvenido a la lección sobre profesiones! En esta sección, aprenderás las señas relacionadas con diferentes ocupaciones y trabajos, como médico, maestro, bombero, artista, entre otros. Este vocabulario es clave para hablar sobre el mundo laboral, aspiraciones y temas cotidianos.</p>
        <br>
        <br>
        <h2 class="subTitulo">¡Comencemos!</h2>
        <p>Primero, te presentamos el siguiente vídeo donde se muestran una lista de profesiones comunes:</p>
        <div class="contenedorVideo">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cqbYLi_nTIs?si=wyUiXE3tfSoWosSW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        

            <h2 class="guiaVisual">Guía visual acerca de las profesiones</h2>
            <p class="guiaVisualp">Esta sección te ayudará a aprender mejor cada signo para algunas de las profesiones comunes individualmente. Familiarizate con cada gesto</p>
        
        <div class="media-contenedor">
            <h3>Letra <%= leccionData[0].letra %></h3>
            <div class="contenedorFlechasImagenes">
                <button id="prev" disabled><i class="bi bi-arrow-left flecha"></i></button>
            <div class="media-imagen">
                <img id="media-image" src="<%= leccionData[0].imagenUrl %>" alt="Imagen de <%= leccionData[0].letra %>">
            </div>
            <div class="media-video">
                <video id="media-video" title="Video de <%= leccionData[0].letra %>" controls>
                    <source src="<%= leccionData[0].videoUrl %>" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>                
            </div>
            <button id="next"><i class="bi bi-arrow-right flecha"></i></button>
            </div>
            <p> <%= leccionData[0].descripcion %></p>
    </div>
        
        <!--JUEGO TARJETAS DE MEMORIA-->

        <h2 class="subTitulo">Juego Interactivo "Tarjetas de Memoria"</h2>
        <p>¡Aprende jugando! En este juego tendrás que recordar a que profesión corresponde cada signo indicado.</p>
        <div class="contenedor">
            <!-- Fila de señas -->
            <div class="fila-senas nivel-1">
                <div class="tarjeta tarjeta-senas" data-pareja="Profesor">
                    <div class="cara delante">
                        <img src="/frontend/images/profesiones/Profesor.png" alt="Seña Profesor/a">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Enfermero">
                    <div class="cara delante">
                        <img src="/frontend/images/profesiones/Enfermero.png" alt="Seña Enfermero/a">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Doctor">
                    <div class="cara delante">
                        <img src="/frontend/images/profesiones/Doctor.png" alt="Seña Doctor">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
            </div>
        
            <!-- Fila de letras -->
            <div class="fila-letras nivel-1">
                <div class="tarjeta" data-pareja="Doctor">
                    <div class="cara delante">
                        <p>Doctor/a</p>
                    </div>
                    <div class="cara atras">
                    </div>
                </div>
                <div class="tarjeta" data-pareja="Profesor">
                    <div class="cara delante">
                        <p>Profesor/a</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="Enfermero">
                    <div class="cara delante">
                        <p>Enfermero/a</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
            </div>

            <!-- Fila de señas - Nivel 2 -->
            <div class="fila-senas nivel-2" style="display: none;">
                <div class="tarjeta tarjeta-senas" data-pareja="Dentista">
                    <div class="cara delante">
                        <img src="/frontend/images/profesiones/Dentista.png" alt="Seña Dentista">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Ingeniero">
                    <div class="cara delante">
                        <img src="/frontend/images/profesiones/Ingeniero.png" alt="Seña Ingeniero">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Doctor">
                    <div class="cara delante">
                        <img src="/frontend/images/profesiones/Doctor.png" alt="Seña Doctor">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                    
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Abogado">
                    <div class="cara delante">
                        <img src="/frontend/images/profesiones/Abogado.png" alt="Seña Abogado">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
            </div>
            
            <!-- Fila de letras -->
            <div class="fila-letras nivel-2" style="display: none;">
                <div class="tarjeta" data-pareja="Ingeniero">
                    <div class="cara delante">
                        <p>Ingeniero/a</p>
                    </div>
                    <div class="cara atras">
                    </div>
                </div>
                <div class="tarjeta" data-pareja="Dentista">
                    <div class="cara delante">
                        <p>Dentista</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="Abogado">
                    <div class="cara delante">
                        <p>Abogado/a</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="Doctor">
                    <div class="cara delante">
                        <p>Doctor/a</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
            </div>
            
            <!-- Fila de señas - Nivel 3 -->
            <div class="fila-senas nivel-3" style="display: none;">
                <div class="tarjeta tarjeta-senas" data-pareja="Farmaceutico">
                    <div class="cara delante">
                        <img src="/frontend/images/profesiones/Farmaceutico.png" alt="Seña Abuelo">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Administrador">
                    <div class="cara delante">
                        <img src="/frontend/images/profesiones/Administrador.png" alt="Seña Papá">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Periodista">
                    <div class="cara delante">
                        <img src="/frontend/images/profesiones/Periodista.png" alt="Seña Bisabuelo/a">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                    
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Profesor">
                    <div class="cara delante">
                        <img src="/frontend/images/profesiones/Profesor.png" alt="Seña Cuñado/a">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Dentista">
                    <div class="cara delante">
                        <img src="/frontend/images/profesiones/Dentista.png" alt="Seña Primo/a">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
            </div>
            
            <!-- Fila de letras -->
            <div class="fila-letras nivel-3" style="display: none;">
                <div class="tarjeta" data-pareja="Farmaceutico">
                    <div class="cara delante">
                        <p>Farmacéutico/a</p>
                    </div>
                    <div class="cara atras">
                    </div>
                </div>
                <div class="tarjeta" data-pareja="Administrador">
                    <div class="cara delante">
                        <p>Administrador/a</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="Profesor">
                    <div class="cara delante">
                        <p>Profesor/a</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="Periodista">
                    <div class="cara delante">
                        <p>Periodista</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="Dentista">
                    <div class="cara delante">
                        <p>Dentista</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
            </div>
    <p id="resultado"></p>
    <button id="nivelSiguiente">Siguiente nivel</button>
    <button id="reiniciarJuego" style="display: none;">Reiniciar Juego</button>
</div>

<!--JUEGO UNE LAS PAREJAS-->
<h2 class="subTitulo">Juego Interactivo "Une las Parejas"</h2>
<p>Para el siguiente juego tendrás que unir las parejas de cada signo con su profesión.</p>

<div class="contenedorParejas">
    <div class="nivel1" >

        <div class="imagenesParejas">
            <button class="botonParejas" data-pareja2="Doctor"><img src="/frontend/images/profesiones/Doctor.png" alt=""></button>
            <button class="botonParejas" data-pareja2="Profesor"><img src="/frontend/images/profesiones/Profesor.png" alt=""></button>
            <button class="botonParejas" data-pareja2="Dentista"><img src="/frontend/images/profesiones/Dentista.png" alt=""></button>
        </div>

        <div class="textoParejas">
            <div class="opcionesParejas">
                <div class="divBlanco" data-pareja2="Dentista"></div>
                <div class="divParejas ocho">Dentista</div>
            </div>
            <div class="opcionesParejas">
                <div class="divBlanco" data-pareja2="Doctor"></div>
                <div class="divParejas uno">Doctor/a</div>
            </div>
            <div class="opcionesParejas">
                <div class="divBlanco" data-pareja2="Profesor"></div>
                <div class="divParejas dos">Profesor/a</div>
            </div>
            <button id="siguienteNivelParejas" style="display: none;">Siguiente Nivel</button>
    </div>
</div>


<div class="nivel2" style="display: none;">
<div class="imagenesParejas">
    <button class="botonParejas" data-pareja2="Enfermero"><img src="/frontend/images/profesiones/Enfermero.png" alt=""></button>
    <button class="botonParejas" data-pareja2="Ingeniero"><img src="/frontend/images/profesiones/Ingeniero.png" alt=""></button>
    <button class="botonParejas" data-pareja2="Doctor"><img src="/frontend/images/profesiones/Doctor.png" alt=""></button>
</div>
    <div class="textoParejas">
        <div class="opcionesParejas">
            <div class="divBlanco" data-pareja2="Enfermero"></div>
            <div class="divParejas tres">Enfermero/a</div>
        </div>
        <div class="opcionesParejas">
            <div class="divBlanco" data-pareja2="Doctor"></div>
            <div class="divParejas cero">Doctor/a</div>
        </div>
        <div class="opcionesParejas">
            <div class="divBlanco" data-pareja2="Ingeniero"></div>
            <div class="divParejas seis">Ingeniero/a</div>
        </div>
        <button id="siguienteNivelParejas" style="display: none;">Siguiente Nivel</button>
    </div>
</div>


<div class="nivel3" style="display: none;">
<div class="imagenesParejas">
    <button class="botonParejas" data-pareja2="Arquitecto"><img src="/frontend/images/profesiones/Arquitecto.png" alt=""></button>
    <button class="botonParejas" data-pareja2="Periodista"><img src="/frontend/images/profesiones/Periodista.png" alt=""></button>
    <button class="botonParejas" data-pareja2="Profesor"><img src="/frontend/images/profesiones/Profesor.png" alt=""></button>
   <button class="botonParejas" data-pareja2="Dentista"><img src="/frontend/images/profesiones/Dentista.png" alt=""></button>
</div>
    <div class="textoParejas">
        <div class="opcionesParejas">
            <div class="divBlanco" data-pareja2="Periodista"></div>
            <div class="divParejas cinco">Periodista</div>
        </div>
        <div class="opcionesParejas">
            <div class="divBlanco" data-pareja2="Profesor"></div>
            <div class="divParejas diesyciete">Profesor/a</div>
        </div>
        <div class="opcionesParejas">
            <div class="divBlanco" data-pareja2="Dentista"></div>
            <div class="divParejas catorce">Dentista</div>
        </div>
        <div class="opcionesParejas">
            <div class="divBlanco" data-pareja2="Arquitecto"></div>
            <div class="divParejas diesyocho">Arquitecto/a</div>
        </div>
    </div>
    <div class="mensajeVictoria"></div>
        <button id="reiniciarJuegoParejas" style="display: none;">Reiniciar Juego</button>
</div>
</div>

<%- include('../partials/tesT') %>

<script>
    const leccionData = <%- JSON.stringify(leccionData) %>; // Pasa el array de letras como JSON
</script>
</body>

</html>