<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/frontend/images/icono-web.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/frontend/styles/styles.css">
    <link rel="stylesheet" href="/frontend/styles/lecciones.css">
    <link rel="stylesheet" href="/frontend/styles/tarjetasMemoria.css">
    <link rel="stylesheet" href="/frontend/styles/reflejos.css">
    <script src="/frontend/scripts/index.js" defer></script>
    <script src="/frontend/scripts/tarjetasMemoria.js" defer></script>
    <script src="/frontend/scripts/reflejos.js" defer></script>
    <script src="/frontend/scripts/test.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <title>Saludos</title>
    <script>
        if (localStorage.getItem('dark-mode') === 'enabled') {
          document.body.classList.add('dark-mode');
        };
        let leccionesCompletadas = <%= JSON.stringify(leccionesCompletadas) %>;
      </script>
</head>
<body>
    
    <%- include('../partials/header') %>

    <h1 class="tituloLeccion">Saludos</h1>
    <div class="contenedorLeccion">
        <h2 class="subTitulo">Introducción</h2>
        <p>¡Bienvenido/a a la lección 3! En esta sección, aprenderás sobre los saludos básicos en el lenguaje de señas. Los saludos son esenciales para iniciar conversaciones y establecer conexiones con los demás. A través de videos instructivos y juegos interactivos, descubrirás diferentes formas de saludar. ¡Empezarás a llevar tus habilidades de comunicación a otro nivel!.</p> 
        <br>
        <br>
        <h2 class="subTitulo">¡Comencemos!</h2>
        
        <p>Te presentamos un vídeo en el que podrás ver algunos de los saludos más utilizados en lenguaje de señas. Míralo las veces que sean necesarias.:</p>
        <div class="contenedorVideo">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lWZtrf-xiPs?si=RXvv85-3qeloMgnM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        
        <h2 class="guiaVisual">Guía Visual de los saludos</h2>
        <p class="guiaVisualp">Esta sección te ayudará a aprender mejor cada saludo común utilizado en lenguaje de señas individualmente. Familiarizate con cada gesto</p>
    
    <div class="media-contenedor">
        <h3><%= leccionData[0].letra %></h3>
        <div class="contenedorFlechasImagenes">
            <button id="prev" disabled><i class="bi bi-arrow-left flecha"></i></button>
        <div class="media-imagen">
            <img id="media-image" src="<%= leccionData[0].imagenUrl %>" alt="Imagen de <%= leccionData[0].letra %>">
        </div>
        <div class="media-video">
            <video id="media-video" title="Video de <%= leccionData[0].letra %>" controls>
                <source src="<%= leccionData[0].videoUrl %>" type="video/mp4">
                Tu navegador no soporta el elemento de video.
            </video>            
        </div>
        <button id="next"><i class="bi bi-arrow-right flecha"></i></button>
        </div>
        <p> <%= leccionData[0].descripcion %></p>
    </div>

    <!--JUEGOS-->
    <h2 class="subTitulo">Juego interactivo "Tarjetas de Memoria"</h2>
        <p>Este es el primer juego de la lección, tendrás que recordar a que saludo corresponde cada signo.</p>
    <div class="contenedor">
        <!-- Fila de señas -->
        <div class="fila-senas nivel-1">
            <div class="tarjeta tarjeta-senas" data-pareja="Buen-dia">
                <div class="cara delante">
                    <img src="/frontend/images/saludos/saludos-media/Buen-dia.png" alt="Seña Buenos Días">
                </div>
                <div class="cara atras">
                    <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                </div>
            </div>
            <div class="tarjeta tarjeta-senas" data-pareja="Buenas-tardes">
                <div class="cara delante">
                    <img src="/frontend/images/saludos/saludos-media/Buenas-tardes.png" alt="Seña Buenas Tardes">
                </div>
                <div class="cara atras">
                    <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                </div>
            </div>
            <div class="tarjeta tarjeta-senas" data-pareja="Buenas-noches">
                <div class="cara delante">
                    <img src="/frontend/images/saludos/saludos-media/Buenas-noches.png" alt="Seña Buenas Noches">
                </div>
                <div class="cara atras">
                    <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                </div>
            </div>
        </div>
    
        <!-- Fila de letras -->
        <div class="fila-letras nivel-1">
            <div class="tarjeta" data-pareja="Buen-dia">
                <div class="cara delante">
                    <p>Buen Día</p>
                </div>
                <div class="cara atras">
                </div>
            </div>
            <div class="tarjeta" data-pareja="Buenas-tardes">
                <div class="cara delante">
                    <p>Buenas Tardes</p>
                </div>
                <div class="cara atras"></div>
            </div>
            <div class="tarjeta" data-pareja="Buenas-noches">
                <div class="cara delante">
                    <p>Buenas Noches</p>
                </div>
                <div class="cara atras"></div>
            </div>
        </div>

        <!-- Fila de señas - Nivel 2 -->
        <div class="fila-senas nivel-2" style="display: none;">
            <div class="tarjeta tarjeta-senas" data-pareja="Buenas-noches">
                <div class="cara delante">
                    <img src="/frontend/images/saludos/saludos-media/Buenas-noches.png" alt="Seña Buenas Noches">
                </div>
                <div class="cara atras">
                    <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                </div>
            </div>
            <div class="tarjeta tarjeta-senas" data-pareja="Por-favor">
                <div class="cara delante">
                    <img src="/frontend/images/saludos/saludos-media/Por-favor.png" alt="Seña Z">
                </div>
                <div class="cara atras">
                    <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                </div>
            </div>
            <div class="tarjeta tarjeta-senas" data-pareja="Gracias">
                <div class="cara delante">
                    <img src="/frontend/images/saludos/saludos-media/Gracias.png" alt="Seña Gracias">
                </div>
                <div class="cara atras">
                    <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                </div>
                
            </div>
            <div class="tarjeta tarjeta-senas" data-pareja="Buenas-tardes">
                <div class="cara delante">
                    <img src="/frontend/images/saludos/saludos-media/Buenas-tardes.png" alt="Seña Buenas Tardes">
                </div>
                <div class="cara atras">
                    <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                </div>
            </div>
        </div>
        
        <!-- Fila de letras -->
        <div class="fila-letras nivel-2" style="display: none;">
            <div class="tarjeta" data-pareja="Buenas-noches">
                <div class="cara delante">
                    <p>Buenas Noches</p>
                </div>
                <div class="cara atras">
                </div>
            </div>
            <div class="tarjeta" data-pareja="Por-favor">
                <div class="cara delante">
                    <p>Por Favor</p>
                </div>
                <div class="cara atras"></div>
            </div>
            <div class="tarjeta" data-pareja="Gracias">
                <div class="cara delante">
                    <p>Gracias</p>
                </div>
                <div class="cara atras"></div>
            </div>
            <div class="tarjeta" data-pareja="Buenas-tardes">
                <div class="cara delante">
                    <p>Buenas Tardes</p>
                </div>
                <div class="cara atras"></div>
            </div>
        </div>
        
        <!-- Fila de señas - Nivel 3 -->
        <div class="fila-senas nivel-3" style="display: none;">
            <div class="tarjeta tarjeta-senas" data-pareja="Buenos-dias">
                <div class="cara delante">
                    <img src="/frontend/images/saludos/saludos-media/Buen-dia.png" alt="Seña Buenos Días">
                </div>
                <div class="cara atras">
                    <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                </div>
            </div>
            <div class="tarjeta tarjeta-senas" data-pareja="Por-favor">
                <div class="cara delante">
                    <img src="/frontend/images/saludos/saludos-media/Por-favor.png" alt="Seña Por Favor">
                </div>
                <div class="cara atras">
                    <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                </div>
            </div>
            <div class="tarjeta tarjeta-senas" data-pareja="Buenas-noches">
                <div class="cara delante">
                    <img src="/frontend/images/saludos/saludos-media/Buenas-noches.png" alt="Seña Buenas Noches">
                </div>
                <div class="cara atras">
                    <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                </div>
                
            </div>
            <div class="tarjeta tarjeta-senas" data-pareja="Buenas-tardes">
                <div class="cara delante">
                    <img src="/frontend/images/saludos/saludos-media/Buenas-tardes.png" alt="Seña Buenas Tardes">
                </div>
                <div class="cara atras">
                    <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                </div>
            </div>
            <div class="tarjeta tarjeta-senas" data-pareja="Hola">
                <div class="cara delante">
                    <img src="/frontend/images/saludos/saludos-media/Hola.png" alt="Seña Hola">
                </div>
                <div class="cara atras">
                    <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                </div>
            </div>
        </div>
        
        <!-- Fila de letras -->
        <div class="fila-letras nivel-3" style="display: none;">
            <div class="tarjeta" data-pareja="Buenos-dias">
                <div class="cara delante">
                    <p>Buenos Días</p>
                </div>
                <div class="cara atras">
                </div>
            </div>
            <div class="tarjeta" data-pareja="Por-favor">
                <div class="cara delante">
                    <p>Por Favor</p>
                </div>
                <div class="cara atras"></div>
            </div>
            <div class="tarjeta" data-pareja="Buenas-tardes">
                <div class="cara delante">
                    <p>Buenas Tardes</p>
                </div>
                <div class="cara atras"></div>
            </div>
            <div class="tarjeta" data-pareja="Buenas-noches">
                <div class="cara delante">
                    <p>Buenas Noches</p>
                </div>
                <div class="cara atras"></div>
            </div>
            <div class="tarjeta" data-pareja="Hola">
                <div class="cara delante">
                    <p>Hola</p>
                </div>
                <div class="cara atras"></div>
            </div>
        </div>
<p id="resultado"></p>
<button id="nivelSiguiente">Siguiente nivel</button>
<button id="reiniciarJuego" style="display: none;">Reiniciar Juego</button>
    </div>



<!--REFLEJOS-->
<h2>Juego interactivo "Reflejos"</h2>
<p>Para este juego debes de tener reflejos rápidos. Aparecerán los nombres de los saludos de manera aleatoria, y tendrás que indicar que signo representa cada saludo</p>
<div id="juego-reflejos">
    <div id="palabra-a-identificar-reflejos">Palabra</div>
    <!-- Nivel 1 -->
    <div id="contenedor-senas-reflejos-nivel-1" class="contenedor-senas">
      <button class="sena-reflejos" data-palabra="Hola"><img src="/frontend/images/saludos/saludos-media/Hola.png" alt="Seña de Hola"></button>
      <button class="sena-reflejos" data-palabra="Adiós"><img src="/frontend/images/saludos/saludos-media/Adios.png" alt="Seña de Adiós"></button>
      <button class="sena-reflejos" data-palabra="Gracias"><img src="/frontend/images/saludos/saludos-media/Gracias.png" alt="Seña de Gracias"></button>
    </div>
    
    <!-- Nivel 2-->
    <div id="contenedor-senas-reflejos-nivel-2" class="contenedor-senas" style="display: none;">
      <button class="sena-reflejos" data-palabra="Por favor"><img src="/frontend/images/saludos/saludos-media/Por-favor.png" alt="Seña de Por Favor"></button>
      <button class="sena-reflejos" data-palabra="Buenas Noches"><img src="/frontend/images/saludos/saludos-media/Buenas-noches.png" alt="Seña de Buenas Noches"></button>
      <button class="sena-reflejos" data-palabra="Buenas Tardes"><img src="/frontend/images/saludos/saludos-media/Buenas-tardes.png" alt="Seña de Buenas Tardes"></button>
      <button class="sena-reflejos" data-palabra="Hola"><img src="/frontend/images/saludos/saludos-media/Hola.png" alt="Seña de Hola"></button>
    </div>

    <div id="contenedor-senas-reflejos-nivel-3" class="contenedor-senas" style="display: none;">
        <!-- Nivel 3-->
        <button class="sena-reflejos" data-palabra="Buenos Días"><img src="/frontend/images/saludos/saludos-media/Buen-dia.png" alt="Seña de Buenos Días"></button>
        <button class="sena-reflejos" data-palabra="Por Favor"><img src="/frontend/images/saludos/saludos-media/Por-favor.png" alt="Seña de Por Favor"></button>
        <button class="sena-reflejos" data-palabra="Buenas Noches"><img src="/frontend/images/saludos/saludos-media/Buenas-noches.png" alt="Seña de Buenas Noches"></button>
        <button class="sena-reflejos" data-palabra="Buenas Tardes"><img src="/frontend/images/saludos/saludos-media/Buenas-tardes.png" alt="Seña de Buenas Tardes"></button>
        <button class="sena-reflejos" data-palabra="Hola"><img src="/frontend/images/saludos/saludos-media/Hola.png" alt="Seña de Hola"></button>
      </div>
  
    <p id="resultado-reflejos"></p>
    <div id="contenedorVictoria" style="display: none;">
        <p class="mensaje-victoria">Felicidades. Completaste todos los niveles</p>
    </div>
    <button id="boton-siguiente-nivel-reflejos" style="display: none;">Siguiente Nivel</button>
    <button id="reiniciarJuegoReflejos" style="display: none;">Reiniciar Juego</button>
  </div>
  
  <%- include('../partials/tesT') %>
  <script>
    const leccionData = <%- JSON.stringify(leccionData) %>;
</script>
</body>
</html>